html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

.wrapper{
  width:1200px;
  margin: 0 auto;
}

a{
  display: block;
  text-decoration: none;
}

ul, li {list-style: none;}

img{
  max-width:1200px;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* НАвигация */

.main-header{
  width:1200px;
  min-height:55px;
  margin:0 auto;
}

.nav{
  font-size:14px;
  line-height:26px;
  font-weight:700;
  color:  #000000;
  background-color: #ffffff;
  display:block;
  position:relative;
}

.header-logo{
  position: absolute;
  width:137px;
  height:70px;
  left:50%;
  margin-left:-69px;
}

.nav-list{
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 55px;
  margin: 0;
  padding: 0;

}

.nav-list li{
  width:20%;
  text-align:center;
}

.nav-list li:nth-child(3){
  margin-left:auto;
  margin-right:1px;
}

.nav-list a {
  color: #000000;
}

.nav-list a:hover,
.nav-list a:focus {
  color: #81b3d2;
}

.nav-list a:active {
  color: #000000;
  opacity: 0.3;
}

/*Изображение Sedona*/

.header-img{
  width:1200px;
  height:508px;
  background-image: url("../img/Sedona_header.png");
  background-repeat: no-repeat;
  background-size:cover;
  text-align: center;
}

.header-img img{
  margin-top:80px;
}

.mountains{
  color: #000000;
  text-align: center;
  width:1200px;
  height:217px;
  padding-top:65px;
  padding-left: 340px;
  padding-right: 340px;
}

.mountains-slogan{
  font-size: 21px;
  line-height: 26px;
}

.mountains-text{
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  padding-top:11px;
}

/*Причины */

.reason-1,
.reason-2{
  display:flex;
  color: #ffffff;
	background-color: #81b3d2;
	text-align: center;
  height:260px;
  width:1200px;
}

.reason-2{
  flex-direction: row-reverse;
}

.reason-1-text{
  width:400px;
  padding-top: 30px;
  padding-left: 60px;
  padding-right: 60px;
}

.reason-1-text>h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.reason-1-picture{
  width:800px;
  min-height:205px;
  background-image:url("../img/pic1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.reason-1-list{
  height:330px;
  text-align: center;
}

.reason-1-list-elements{
  height:150px;
}

.reason-1-benefits{
  margin:0 auto;
  padding-left: 0px;
  display:flex;
  justify-content:space-between;
  min-height: 180px;
}

.reasons-benefits-titles{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.reasons-benefits-slogan{
  font-size: 14px;
  line-height: 21px;
  width:300px;
  margin-top:25px;
  margin-left:50px;
}

.reason-1-benefits-accomodation{
  width:400px;
}

.reason-1-accomodation{
  margin-top:10px;
}

.reason-1-benefits-food{
  width:400px;
}

.reason-1-food{
  margin-top:10px;
}

.reason-1-benefits-souvenirs{
  width:400px;
}

.reason-1-souvenirs{
  margin-top:10px;
}

.reason-2-text{
  width:400px;
  padding-top: 20px;
}

.reason-2-text>h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;
  padding-left: 120px;
  padding-right: 120px;
}

.reason-2-slogan{
  margin-top:25px;
  padding-left:41px;
  padding-right:41px;
}

.reason-2-picture{
  width:800px;
  min-height:205px;
  background-image:url("../img/pic2.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}

.other-reasons{
  text-align: center;
}

.reasons-extra{
  min-height:258px;
  background-color:#eeeeee;
}

.attractions>h3{
  font-size:21px;
  line-height: 21px;
  font-weight:bold;
}

.reasons-extra-list{
  display:flex;
  justify-content:space-between;
  padding:0px;
  margin-top:0px;
  margin-bottom:0px;
}

.reasons-extra-list-citation{
  width:400px;
  min-height: 258px;
  padding-top: 20px;
}

.reason-extra-square{
  padding-left:100px;
  padding-right:100px;
}

.reason-extra-slogan{
  padding-right:40px;
  padding-left:40px;
}

.reason-extra-road{
  padding-right:115px;
  padding-left:115px;
}

.reasons-benefits-driving{
  padding-left: 10px;
  padding-right: 10px;
}

.reason-extra-tourists{
  padding-right:120px;
  padding-left:120px;
}

/*Форма бронирования*/

.interested-text{
  text-align: center;
  margin-top:47px;
}

.interested-text-question{
  font-size:30px;
  line-height:24px;
  font-weight:bold;
}

.interested-text-offer{
  margin-top: 35px;
}

.search-form{
  display:flex;
  flex-wrap: wrap;
  padding:55px;
}

.search-hotel-button {
  margin: 0 auto;
  margin-top:50px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-decoration: none;
  background-color: #766357;
  width:567px;
  min-height:85px;
  text-align: center;
  padding-top: 30px;
}

.search-hotel-button:hover {
  background-color: #604e43;
}

.search-hotel-button:active {
  background-color: #503e33;
  color: #857871;
}

.order-form {
  position:absolute;
  margin: 0 auto;
  margin-left: 317px;
  font-weight: bold;
  background: #ffffff;
  width: 568px;
}

.check-in-date input{
  margin-left:165px;
}

.check-out{
  margin-top:30px;
}

.order-form input {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.adults{
  margin-top:30px;
}

.children{
  margin-top:30px;
  margin-left:50px;
}

.adults-wrapper {
  display: flex;
  align-items: center;
}

.children-wrapper {
  display: flex;
  align-items: center;
}

.adults input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}

.children input {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 38px;
  height: 38px;
}

.order-form input:hover {
  background-color: #ebebeb;
}

.order-form input:focus {
  background-color: #ffffff;
}

.button-number:hover {
  color: #000000;
}

.button-number:active {
  color: #81afd2;
}

.minus-button {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}

.plus-button {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #a9a9a9;
  background-color: #f2f2f2;
  border: none;
  width: 38px;
  height: 38px;
}

.button-search {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  width:100%;
  margin-top: 56px;
  padding:15px;
}

.button-search:hover {
  background-color: #669ec0;
}

.button-search:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.map {
  width: 1200px;
  min-height: 470px;
}

.footer-hashtag{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin-top:42px;
  margin-left:135px;
}

.main-footer{
  min-height:120px;
  display:flex;
  justify-content:space-between;
}

.footer-social{
  display:flex;
  justify-content:space-between;
}

.website-by{
  margin-top:35px;
  margin-right:60px;

  width:250px;
  display:flex;
}


/* Страница inner.html */

.filters{
  height:217px;
}

fieldset {
   border:0 none;
}

.infrastructure{
  width:300px;
}

.infrastructure>legend{
  padding-top:30px;
  padding-left:60px;
}


.filters {
  color: #ffffff;
  list-style-type: none;
  background: #57646e url("../img/Photo-blur-inner.png") no-repeat;
  background-size: cover;
}

.filters li {
  font-size: 14px;
  line-height: 21px;
}

.filter-catalog-form {
  display: flex;
  height: 217px;
}

.filter-catalog-form legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.option-pool{
  margin-top:20px;
  margin-left: 60px;
}

.option-parking{
  margin-top:25px;
  margin-left: 60px;
}

.option-internet{
  margin-top:25px;
  margin-left: 60px;
}

.appartaments-type{
  width:300px;
}

.appartaments-type>legend{
  padding-top:30px;
  padding-left:10px;
}

.option-hotel{
  margin-top:18px;
  padding-left: 12px;
}

.option-motel{
  margin-top:25px;
  padding-left: 12px;
}

.option-appartments{
  margin-top:25px;
  padding-left: 12px;
}

/**range **/

.filter-range {
  width: 330px;
  margin: 50px auto;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.catalog {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  min-height: 87px;
}

.results {
  font-size: 21px;
  line-height: 26px;
  width: 230px;
  padding-left: 70px;
}

.results b {
  font-weight: normal;
  font-weight: bold;
}

.results span {
  font-weight: bold;
}

.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
  margin-top:20px;
  padding-left:35px;
}

.sort p {
  margin-top: 0px;
  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 38px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
}

.sort li:nth-child(2) {
  margin-right: 32px;
}

.sort li:nth-child(3) {
  margin-right: 32px;
}

.sort a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
  align-items: center;
  color: #b2b2b2;
  border-bottom: 1px dotted #81b3d2;
}

.sort .sort-item-current {
  color: #81b3d2;
  border-bottom: none;
}

.selector .sort-item-current {
  color: #81b3d2;
}

.sort a:hover {
  color: #81b3d2;
}

.sort a:active {
  color: #000000;
  border-bottom: none;
}

.selector {
  display: flex;
  margin-right: 73px;
  padding-bottom: 6px;
}

.selector li {
  padding-left: 12px;
}



.housing-result {
  background-color: #ffffff;
}

.housing-item {
  display: flex;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding-top:10px;
}

.housing-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.housing-poster {
  padding-top: 29px;
  padding-bottom: 22px;
  padding-left: 72px;
}

.housing-poster img {
  max-width: 135px;
}

.hotel-description {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 0px;
}

.hotel-description h1 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.the-name-of-the-hotel{
  margin:0;
  margin-bottom:13px;
}

.the-name-of-the-hotel a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.the-name-of-the-hotel a:hover {
  color: #81b3d2
}

.the-name-of-the-hotel a:active {
  color: #b2b2b2;
}

.housing-wrapper {
  display: flex;
}

.view-button {
  display: block;
  width: 110px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background: #81b3d2;
  margin-right: 8px;
  margin-top: 13px;
  margin-bottom: 0px;
  height:27px;
}

.view-button:hover {
  background: #669ec0;
}

.view-button:active {
  background: #5496bd;
  color: #88b6d1;
}

.book-button {
  display: block;
  width: 142px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  background: #766357;
  margin-top: 13px;
  margin-bottom: 12px;
  height:27px;
}

.book-button:hover {
  background: #604e43;
}

.book-button:active {
  background: #503e33;
  color: #857871;
}

.rating-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px;
  margin-left: 522px;
  margin-top: 12px;
}

.rating-item p {
  display: block;
  width: 110px;
  height: 27px;
  margin-bottom: 13px;
  background: #f2f2f2;
  text-align: center;
  margin: 0;
}
